body{
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    color: white;
}
.content{
    margin: auto; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content h1{
    font-size: 42px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
button{
    padding: 5px;
    background-color: antiquewhite;
    color: black;
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 150px;
    font-size: 18px;
    margin: 5px;
}
